body {
    margin: 0;
    padding: 0;
    background: #bfbfbf;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
}

.container {
    width: 320px;
    text-align: center;
    margin: 20px 0;
}

header {
    background: #9c1c68;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
}

.articles {
    background: #2bb673;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

article {
    background: #ec1163;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
}

article:last-child {
    margin-bottom: 0;
}

aside {
    background: #1d5a9d;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
}

footer {
    background: #eb6b23;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
@media (min-width: 769px) {
    .container {
        width: 100%;
        max-width: 960px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    header,
    .articles,
    aside,
    footer {
        width: 100%;
    }
    
    header {
        width: 30%;
    }
    
    .articles {
        width: 68%;
    }
    
    aside {
        order: 1;
        width: 30%;
    }
    
    .articles {
        order: 2;
    }
    
    footer {
        order: 3;
    }
}