@import url(./css/reset.css);
body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: gray;
}

header, footer, aside, article {
    padding: 20px;
    color: white;
    text-align: center;
}

header {
    background-color: #9c27b0;
}

.main-content {
    display: flex;
    flex-grow: 1;
}

aside {
    background-color: #1976d2;
    flex-basis: 30%;
}

.articles {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #388e3c;
    padding: 20px;
}

article {
    background-color: #d32f2f;
    margin-bottom: 20px;
}

article:last-child {
    margin-bottom: 0;
}

footer {
    background-color: #f57c00;
}

@media (max-width: 600px) {
    .main-content {
        flex-direction: column;
    }

    aside { flex-basis: auto; }
}